.simple-spin {
  position            : absolute;
  width               : 32px;
  height              : 32px;
  background-image    : url(spinner.svg);
  background-size     : fill;
  background-repeat   : no-repeat;
  background-position : center center;

  -moz-animation             : simple-spin infinite linear  ;
  -moz-transform-origin      : 50% 50%;
  -webkit-animation          : simple-spin infinite linear  ;
  -webkit-transform-origin   : 50% 50%;
  -o-animation               : simple-spin infinite linear  ;
  -o-transform-origin        : 50% 50%;
  animation                  : simple-spin infinite linear  ;
  transform-origin           : 50% 50%;

  animation-duration         :3s;
  -webkit-animation-duration :3s;
}


@-moz-keyframes simple-spin {
    0    { -moz-transform : rotate(0); }
    100% { -moz-transform : rotate(360deg); }
}

@-webkit-keyframes simple-spin {
    0%    { -webkit-transform : rotate(0); }
    100% { -webkit-transform : rotate(360deg); }
}

@keyframes simple-spin {
    0%    { transform : rotate(0); }
    100% { transform : rotate(360deg); }
}

@-o-keyframes simple-spin {
    0%    { -o-transform : rotate(0); }
    100% { -o-transform : rotate(360deg); }
}

